body {
    font-family: 'Arial', sans-serif;
    color: #000000;
    background-image: url('https://hardzone.es/app/uploads-hardzone.es/2018/11/videojuegos-pc.jpg'); /* Reemplaza 'fondo.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    color: #0056b3;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar {
    background-color: #0056b3 !important;
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
    transition: color 0.3s ease;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nav-link:hover {
    color: #ccc !important;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}

#productos-titulo {
    border: 2px solid white; /* Agrega un borde blanco alrededor de "Nuestros Productos" */
    padding: 10px; /* Agrega un espacio alrededor del texto */
    background-color: white; /* Establece el color de fondo en blanco */
    color: black; /* Establece el color del texto en negro */
}

.container.my-5.border.p-4 {
    border: 2px solid white; /* Agrega un borde blanco alrededor del formulario */
    background-color: white; /* Establece el color de fondo en blanco */
}

.footer {
    position: fixed; /* Fija el footer */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Cambia el color de fondo del footer */
    color: white; /* Cambia el color del texto del footer a blanco */
    text-align: center; /* Centra el contenido del footer */
    padding: 10px 0; /* Añade un espacio alrededor del contenido del footer */
}
